.img-carrito{
    max-width: 30px;
}

.posicionVinos{
    margin-top: 105px;
}

.navbar-nav{
  text-align: center;
}

.text-white{
  text-decoration: none;
}

.nav-link{
transform: 0.2s;
}

nav-link:hover{
  transform: scale(1.5);
}

.footer {
    background-color: rgb(3, 3, 3);
    padding: 25px;
  }

  footer #redes {
    display: flex;
    justify-content: space-evenly;
  }

  footer #redes .redesIcono {
    width: 50px;
    height: 50px;
  }

  footer #info {
    padding-top: 28px;
    text-align: center;
    /*probar con este elimino el menu de abajo*/
  }

  @media (min-width: 768px) {
    footer #info {
      padding-top: 0px;
      text-align: left;
    }
  }

  @media (max-width: 768px) {
    footer #info {
      display: none;
    }
  }

  footer #info div {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
  }

  footer #info div a {
    text-decoration: none;
    font-weight: bold;
  }

  footer #info div a:visited, footer #info div a:hover {
    color: blue;
  }

  .error {
    margin: 40px 0 500px 0; 
    text-align: center;
    
  }